.apartment {
    .apartment__top {
        padding-top: 32px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        &-wrap {
            display: flex;
            justify-content: space-between;
        }
        h3 {
            padding: 0;
            margin: 0;
            font-weight: 300;
            font-size: 32px;
            line-height: 48px;
        }
        p {
            padding: 0;
            margin: 0;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
        }

        .ant-btn {
            width: 48px;
            height: 48px;
        }
    }
}
