.breadcrumb-task {
    text-align: initial;
    padding-bottom: 24px !important;
}

.task-progress {
    padding: 24px 12px;
    .task-progress__top {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    .task-progress__bottom {
        padding-top: 14px;
        display: flex;
    }
}

.select-executor {
    text-align: start;
    border: 1px solid #dcdee4;
    box-shadow: 0px 8px 16px rgba(78, 93, 146, 0.08), 0px 4px 4px rgba(78, 93, 146, 0.16);
    padding: 16px;
    .select__wrap {
        padding-top: 8px;
        display: flex;
        width: 100%;
        .ant-select {
            width: 100%;
            .ant-select-selector {
            }
        }
        .ant-btn {
            margin-left: 16px;
        }
    }
}

.comments-and-steps {
    display: flex;
    padding: 24px 12px;
}

.comments {
    // padding: 24px 12px;
    width: 100%;
    .ant-comment {
        .ant-comment-content-detail {
            text-align: initial;
        }
        .comments__button {
            position: absolute;
            left: 0;
            top: 0px;
            border: none !important;
            background: rgba(39, 47, 90, 0.32);
            border-radius: 4px;
        }
        .ant-input {
            height: 32px;
        }
    }
}

.task-steps {
    padding-left: 32px;
    .ant-steps-item-title {
        font-size: 14px;
        line-height: 16px !important;
    }
}

.descriptions {
    max-width: 618px;
}

.ant-descriptions-row {
    display: flex;
    flex-direction: column;
}

.ant-descriptions-item {
    display: flex;
    border-bottom: 1px solid #dcdee4;
}
.ant-descriptions-item-label {
    width: 140px;
}

.comments__button {
    background: rgba(39, 47, 90, 0.32);
    border-radius: 4px;
}

.main {
    background: blue;
}

.ant-table-cell {
    width: 400px !important;
}
