body {
  margin: 0;
  font-family: "PTRootUIWeb", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

a {
  color: inherit;
  text-decoration: none;
}

/* a:hover {
  color: rgb(var(--primary));
} */

path {
  clip-rule: evenodd;
  fill-rule: evenodd;
}
