input {

  outline: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
  cursor: inherit;
}

input::placeholder {
  color: rgba(var(--main), 0.3);
  font-weight: 300;
}

input:disabled::placeholder {
  color: rgba(var(--main), 0.8);
}
